.selected-projects {
	margin-top: 25px;
}
.selected-projects > h2 {
	margin-block: 1em 1rem;
}
.projects .project img {
	width: 100%;
	margin-bottom: 12px;
}

@media (min-width: 550px) {
	.projects .project{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows:  repeat(3, auto);
	}
	.projects .project .project-title{
		grid-column: span 2;
		margin-bottom: .25rem;
		align-self: start;
	}
	.projects .project  .project-description{
		grid-column: span 2;
		font-size: .875rem;
	}
	.projects .project img{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
		margin-bottom: 0;
	}
}
@media (min-width: 1024px){
	.bg-pattern .bar:nth-child(3) {
		width: 20px;
	}
	.projects{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.contact, .projects{
		column-gap: 20px;
	}	
	.projects.expand-first-project .project:first-child{
		grid-column: span 2;
		column-gap: 20px;
	}	
	.projects .project:nth-last-child(2){
		border-block-end: 1px solid var(--bar-clr);
	}
}