.selected-projects > h2 {
	margin-block: 2em .5em;
}
.projects .project img {
	width: 100%;
}
@media (min-width: 550px) {
	.projects .project{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows:  repeat(3, auto);
	}
	.projects .project .project-title{
	grid-column: span 2;
	grid-row: span 2;
	margin-block: 0 .5rem;
	align-self: start;
	}
	.projects .project  p,
	.projects .project a{
		grid-column: span 2;
	}
	.projects .project img{
	grid-column: 1 / 5;
	grid-row: 1 / 2;
	margin-bottom: 20px;
	}
}
@media (min-width: 1024px){
	.bg-pattern .bar:nth-child(3) {
		width: 10px;
	  }
	.projects{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 10px;
	}
	.projects .project:last-child{
		column-gap: 10px;
		grid-column: span 2;
	}
	.projects .project:last-child p{
		max-width: 55ch;
	}
	.projects .project .project-title{
		grid-row: revert;
		}
	.projects .project  p{
		grid-row: span 2;
		max-width: 30ch;
		margin-bottom: 0;
	}
	.projects .project  a{
		grid-column: 1 / 3;
		align-self: end;
		margin-left: 3px;

	}
	.contact{
		column-gap: 10px;

	}

}