:root {
  --margin: 20px;
  --height: 55px;
}

body {
  --main-bg-clr: #151515;
  --text-clr: white;
  --accent-text-clr: #777;
  --bar-clr: #222;


  background-color: var(--main-bg-clr);
  margin: 0;
  font-family: "poppins", sans-serif;
  color: var(--text-clr);


}

body[data-theme="light"] {
  --main-bg-clr: white;
  --text-clr: black;
  --accent-text-clr: #777;
  --bar-clr: #ddd;
  --invert: 0;
  --border: #bbb;
}

a {
  color: var(--text-clr);
  text-decoration: none;
}

.bg-pattern {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline: var(--margin);
  z-index: -1;
}

.bg-pattern .bar {
  border: .5px solid var(--bar-clr);
}

.wrapper {
  margin: auto var(--margin);
  position: relative;

}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--height);
  border-block-end: 1px solid var(--border, #333);
}

header .logo {
  display: grid;
  align-content: center;
}

header .logo img {
  height: 35px;
  filter: invert(var(--invert, 1));
}

/* dark mode toggle */


.toggle-btn {
  --bg: transparent;
  --fg: var(--text-clr);
  background-color: var(--bg);
  --btn-dimensions: 40px;
  width: var(--btn-dimensions);
  height: var(--btn-dimensions);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.toggle-btn .main-circle {
  --circle-dimensions: 12px;
  width: var(--circle-dimensions);
  height: var(--circle-dimensions);
  background-color: var(--fg);
  border-radius: 50%;
  position: absolute;
  transition: transform 0.4s ease 0.2s;
}

.toggle-btn .main-circle::after {
  content: "";
  background-color: var(--main-bg-clr);
  border-radius: 50%;
  --dimensions: calc(var(--circle-dimensions) * 0.75);
  width: var(--dimensions);
  height: var(--dimensions);
  position: absolute;
  top: .5px;
  right: -1px;
  transform-origin: right top;
  transform: scale(0);
  transition: transform 0.4s ease 0.2s;
}

.toggle-btn .sun-rays {
  display: grid;
  place-items: center;
  transition: transform 0.4s ease 0.2s;
}

.toggle-btn .sun-rays,
.toggle-btn .sun-rays::after,
.toggle-btn .sun-rays::before {
  --width: 2px;
  --height: 5px;
  width: var(--width);
  height: var(--height);
  background-color: var(--fg);
  position: absolute;
  --dist: 12px;
  box-shadow: 0 var(--dist) 0 var(--fg), 0 calc(-1 * var(--dist)) 0 var(--fg);
}

.toggle-btn .sun-rays::after {
  content: "";
  transform: rotate(120deg);
}

.toggle-btn .sun-rays::before {
  content: "";
  transform: rotate(240deg);
}

body[data-theme="light"] .toggle-btn .main-circle::after {
  transform: scale(1);
}

body[data-theme="light"] .toggle-btn .main-circle {
  transform: scale(1.3);
}

body[data-theme="light"] .toggle-btn .sun-rays {
  transition: transform 0.4s;
  transform: scale(0);
}

/* main styles */

/* hero section */
main .hero {
  min-height: calc(100vh - var(--height));
  display: grid;
  align-content: center;
}

main .hero h1 {
  margin: 0;
  font-size: 3.25rem;
  line-height: 120%;
  animation: slide-in 1s ease 300ms forwards;
  opacity: 0;
}

main .hero h1 .name {
  display: block;
}

main .hero p {
  font-size: 2rem;
  line-height: 120%;
  margin-top: .25em;
  font-weight: 300;
  color: var(--accent-text-clr);
  max-width: 20ch;
  animation: slide-in 1s ease 600ms forwards;
  opacity: 0;

}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* projects section */

main .projects {
  min-height: 90vh;
}

main .projects h2 {
  font-size: 2.5rem;

}

main .projects .project {
  position: relative;
}

main .projects .project::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  background-color: var(--text-clr);
}

main .projects .project:last-child::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -25px;
  background-color: var(--text-clr);
}

main .projects .project h3 {
  font-size: 1.75rem;
  padding-top: 1.5rem;
  margin-bottom: .5rem;
}

main .projects .project p {
  color: var(--accent-text-clr);
  max-width: 35ch;
}

main .projects .project a {
  border: 1px solid var(--text-clr);
  padding: 6px 10px;
  border-radius: 2rem;
  margin-right: 4px;
}

main .projects .project .demo {
  background-color: var(--text-clr);
  color: var(--main-bg-clr);
  display: inline-flex;
  align-items: center;
  padding-left: 13px;
}

main .projects .project .demo svg {
  height: 20px;
  fill: var(--main-bg-clr);
}

/* contact styles */

.contact {
  min-height: 75vh;
  display: grid;
  align-content: center;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: .5em;
}

.contact h2 span {
  color: var(--accent-text-clr);
  display: block;
  font-weight: 300;
}

.contact a {
  color: #845ddc;
}

.contact a:before {
  content: "\2192";
  color: var(--text-clr);
  font-size: 2rem;
}

/* footer styles */
footer {
  min-height: var(--height);
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: .75rem;
  color: var(--accent-text-clr);
  border-block-start: 1px solid var(--border, #333);
}